.email-index{
   display: grid;
   grid-template-columns: 160px 1fr;
   grid-template-rows: 0.5fr 6fr;
   background-color: lightblue;

}
.email-folder-container{
  grid-area: 2/ 1 / span 2/ span 1;   
  img{
    width: 25px;
    height: 25px;
  }
}
.email-folder{
  display: flex;

  margin-block-start: 10px;
  flex-direction: column;
  justify-content: start;
  font-family: monospace;
  font-size: 20px;
  gap: 20px;
}
   



.email-folder-container:hover{
    filter: drop-shadow(.05em .05em orange);

    .show-container{
        display: table-cell;

        border-radius: 50%;
        background: turquoise;
    } 
}
.email-folder-container{
    .inbox-container, .starred-container, .draft-container, .trash-container, .sent-container{
        justify-content: start;
    }
}
.list-container{
    grid-area: 2 / 2;
    padding: 10px;
    min-height: 60vh;
    background-color: white;

}
.search-container{
    grid-area: 1 / 2/ span 1 /span 2;
    gap: 1em;
}

.compose-container{
    grid-area: 1/1;
    display: flex;
    height: 50px;
    gap: 15px;
    flex-direction: row;
    margin-inline: 15px;
    font-family: monospace;
    font-size: 20px;
    align-items: center;
    img{
        width: 25px;
        height: 25px;
    }

}

.compose-container:hover{
   
    
        

        border-radius: 50%;
        background: turquoise;

    
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fefefe;
    width: 33%;
    height: 30%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

