.app-header {
    background: lightblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 30px;
}

.app-header nav{
    display: flex;
    align-items: center;  
    gap: 1em;
}

a.active{
    color: darkslategray;
}

.about-link , .home-link, .settings-link, .email-link{
    width: 30px;
    height: 30px;
}

.main-logo{
    width: 40px;
    height : 30px;
}

.title-container{
    display: flex;
    gap: 1em;
    color: black;
    font-family: Comic Sans MS;
}



