.search-link{
    width: 15px;
    height: 15px;

}

.email-filter{
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    justify-content: flex-start;
    img{
        justify-items: center;
        margin-inline: 10px;

    }
}
.search-container{
    display: flex;
    align-items: center;
    background-color: lightgray;
    
}
#search{
    background-color: lightgray;
}

