.email-preview{
    display: grid;
    grid-template-columns: repeat(2,0.1fr) 0.7fr 4fr 0.7fr 0.5fr;
    grid-template-rows: 35px;
    gap: 15px;
    background-color: white;
    cursor:pointer;
    justify-content: start;
    align-items: center;
    color: darkblue;
    font-weight: bold;
    font-family: monospace;
    border-bottom: 0.1px solid rgb(149, 193, 223);
    padding-inline: 10px;
}

.email-preview.dark{
    background-color: lightgoldenrodyellow;
    color: cadetblue;
    cursor: pointer;
}

.checkbox{
    cursor:pointer;
}

.checkbox :checked{
    cursor:pointer;
}

.date-container{
    display: grid;
    justify-content: end;
}

.email-preview:hover .hide {
    display: grid;
}

.email-preview:hover .date {
    display: none;
}

.date-container .hide {
    display: none;
    width: 20px;
    height: 20px;
}

.action-btn{
    display: flex;
    gap: 1em;
}

.extra-action-btn{
    display: flex;
    gap: 1em;
    max-height: 20px;
}

.remove-btn{
    background-color: red;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.is-read-btn{
    background-color: lightcyan;
    font-family: Comic Sans MS;

}

.full-star{
    display: none;
    width: 20px;
    height: 20px;
}
.from-email{
    overflow: hidden;
    overflow-y: hidden;
}
.body-container{

    overflow: hidden;
}