.inbox-container, .starred-container, .drafts-container, .trash-container, .sent-container{
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin-inline: 15px;
    cursor: pointer;

}

#mini-menu-close{
    display: none;
    cursor: pointer;
}
