.email-preview{
    display: grid;
    grid-template-columns: repeat(2,20px) minmax(35px,120px) 200px 100px 100px;
    grid-auto-rows: minmax(35px,auto);
    gap: 15px;
    background-color: white;
    overflow-wrap: break-word;
    cursor:pointer;
    justify-content: start;
    align-items: center;

}

.email-preview.dark{
    background-color: rgb(11, 52, 105);
    color: white;
    cursor:pointer;
}

 
.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {

   content: "\2606";
   visibility:visible;
}
.star:checked:before {

   content: "\2603";
   background-color: yellow;
}

.checkbox{
    cursor:pointer;
}

.checkbox :checked{
    cursor:pointer;
}

.date{
    display: grid;
    justify-content: end;
}

.email-preview:hover .hide {
    display: grid;
    
}

.hide {
    display: none;
    width: 20px;
    height: 20px;
}

.action-btn{
    display: flex;
}

  