.email-preview{
    display: grid;
    grid-template-columns: repeat(2,20px) minmax(35px,120px) 200px 100px 100px;
    grid-auto-rows: minmax(35px,auto);
    gap: 15px;
    background-color: white;
    overflow-wrap: break-word;
    cursor:pointer;
    justify-content: start;
    align-items: center;
    color: darkblue;
    font-weight: bold;
    font-family: monospace;

}

.email-preview.dark{
    background-color: lightgoldenrodyellow;
    color: cadetblue;
    cursor: pointer;
}

.checkbox{
    cursor:pointer;
}

.checkbox :checked{
    cursor:pointer;
}

.date{
    display: grid;
    justify-content: end;
}

.email-preview:hover .hide {
    display: grid;
    
}

.date .hide {
    display: none;
    width: 20px;
    height: 20px;
}

.action-btn{
    display: flex;
    background-color: white;
}

.extra-action-btn{
    display: flex;
    gap: 1em;
}

.remove-btn{
    background-color: red;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.is-read-btn{
    background-color: lightcyan;
    font-family: Comic Sans MS;

}

.full-star{
    display: none;
    width: 20px;
    height: 20px;
}
  