.table{
    margin-left: 15px;
    border: 1px solid black;
}

.email-row{
    display: grid;
    grid-template-columns: repeat(2,20px) minmax(35px,120px) 200px repeat(2,100px);
    grid-auto-rows: minmax(35px,auto);
    gap: 15px;
    background-color: white;
    overflow-wrap: break-word;
    cursor:pointer;
    justify-content: start;
    align-items: center;

}

.email-row dark{
    background-color: lightsteelblue;
    cursor:pointer;
}

.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {

   content: "\2606";
   visibility:visible;
}
.star:checked:before {

   content: "\2603";
   background-color: yellow;
}

.checkbox{
    cursor:pointer;
}

.checkbox :checked{
    cursor:pointer;
}

.date{
    display: grid;
    justify-content: end;
}